##
# Use the cloud "openstack" from the clouds.yaml file.
#
provider "openstack" {
  cloud = "openstack"
}

##
# Find the BE SG for the common_ctrl_network
#
data "openstack_networking_secgroup_v2" "ctrl_secgroup" {
  name = "{{ control_network_name }}"
}

##
# Find the FE SG that has been RBAC'd into the BE
data "openstack_networking_secgroup_v2" "user_secgroup" {
  name = "{{ cluster_name }}-{{ cluster_type }}"
}


##
# Allow ingress for this appliance only to the appliance specific container port
#
resource "openstack_networking_secgroup_rule_v2" "{{ allocation_name }}" {
  direction         = "ingress"
  ethertype         = "IPv4"
  protocol          = "tcp"
#  remote_ip_prefix  = "{{ appliance_ctrl_ip }}"
  remote_group_id   = "${data.openstack_networking_secgroup_v2.user_secgroup.id}"
  port_range_min    = "{{ vipu_container_port }}"
  port_range_max    = "{{ vipu_container_port }}"
  security_group_id = "${data.openstack_networking_secgroup_v2.ctrl_secgroup.id}"
}
